$font-stack:        "source-sans-pro", "Helvetica Neue", Arial, sans-serif;
$font-stack-alt:    "usual", $font-stack;

$ms-base:           1rem;
$ms-base-px:        16px;
$ms-ratio:          1.125;

$grid-gutter-width: $ms-base * 2;
$grid-columns:      12;

$breakpoints: (
  xs:               30rem,
  sm:               40rem,
  md:               50rem,
  lg:               60rem,
  xl:               70rem
);

$white:             tint(black, 80%);
$grey-light:        tint(black, 35%);
$grey-dark:         tint(black, 60%);
$black:             shade(white, 80%);