// Let's start with getting some structure in place
$base-size:           1rem;
$base-size-px:        16px;
$base-line-height:    1.5;
$base-ratio:          1.125;

//Flags
$enable-flex:         true !default;
$enable-grid-classes: true !default;

//Grid and widths
$grid-columns:        12;
$grid-gutter-width:   $base-size * 2;
$grid-max-width:      80rem;

//Media query breakpoints
$breakpoints: (
  xs:                 30rem,
  sm:                 40rem,
  md:                 50rem,
  lg:                 60rem,
  xl:                 70rem
);

//Font styling
$font-sizes:          (); //empty map ready for sizes to go in
$font-base:           $base-size;
$font-base-px:        $base-size-px;
$font-stack:          'usual', 'Helvetica Neue', Arial, sans-serif;
$font-stack-alt:      'proxima-nova', $font-stack;

@for $i from 0 through 10 {
  $size:              ($i: $font-base);
  $font-base:         $font-base * 1.125;
  $font-sizes:        map-merge($font-sizes, $size);
}

$body-color:          #212121;
$body-bg:             #fff;