// Reusables
$VCfont-size:           18px;
$VCratio:               1.25;
$VCbase:                1rem;
$VCline-height:         1.618;

$ms-base:               $VCbase;
$ms-ratio:              $VCline-height, $VCratio;

$VCgrid-gutter:         $VCbase * 2;
$VCgrid-columns:        12;

$VCmax-width:           80em;
$VCbreakpoints: (
  xs:                   0,
  sm:                   40em,
  md:                   50em,
  lg:                   60em,
  xl:                   70em
);

// Flags
$VCenable-flex:           true;
$VCenable-grid-classes:   true;

// Typography
$VCfont-stack:          "source-sans-pro", "Helvetica Neue", Arial, sans-serif;
$VCfont-stack-alt:      "usual", $VCfont-stack;

// Colours
$VCcolours: (
  white:                #fff,
  black:                #000,
);

$white:                 tint(black, 80%);
$grey-light:            tint(black, 75%);
$grey-dark:             tint(black, 35%);
$black:                 shade(white, 80%);