/**
 * Buttons
 *
 * Branded button styling for use everywhere! We get very specific about what
 * can and can't be a button, so only `<a role="button">`, `<button>` and
 * `<input type="submit">` can use the `.o-btn` class.
 *
 * Styleguide: objects.buttons
 */

/**
 * Default button
 *
 * Default button style
 *
 * Markup:
 * <a class="o-btn {{modifier_class}}" role="button">Click me!</a>
 * <button class="o-btn {{modifier_class}}">Click me!</button>
 *
 * .o-btn--large - Large button
 * .o-btn--small - Small button
 *
 * Styleguide: objects.buttons.default
 */
.o-btn {
  display: inline-block;
  width: auto;
  height: auto;
  padding: .25rem .75rem;
  margin: 0;

  @include font-stack-alt;
  @include font-size(17);
  font-weight: $VCfont-light;
  line-height: $VCline-height;
  letter-spacing: .5px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  vertical-align: middle;
  cursor: pointer;
  background-color: colour("red");
  border: 1px solid colour("red", dark);
  border-radius: 4px;
  box-shadow: none;
  user-select: none;
  touch-action: manipulation;

  @include transition;

  &:hover,
  &:focus,
  &:visited {
    color: white;
    background-color: colour("red", dark);
    border-color: colour("red", x-dark);
  }

  @include breakpoint(sm) {
    @include font-size(18);
  }

  .o-btn-group & {
    max-width: 19rem;
    min-width: 100%;
    margin-right: auto;
    margin-bottom: $VCbase;
    margin-left: auto;

    @include breakpoint(md) {
      max-width: auto;
      min-width: 25%;
      margin-right: quarter($VCbase);
      margin-bottom: tuple($VCbase, .75);
      margin-left: quarter($VCbase);
    }
  }
}

.o-btn-group {
  display: flex;
  flex-wrap: wrap;
}

.o-btn--small {
  @include font-size(13);

  @include breakpoint(sm) {
    @include font-size(14);
  }
}

.o-btn--large {
  padding: .5rem 1.25rem;
  @include font-size(20);

  @include breakpoint(sm) {
    @include font-size(21);
  }
}

/**
 * Reset button
 *
 * Clear out all default styles
 *
 * Markup:
 *  <a class="o-btn o-btn--reset {{modifier_class}}" role="button">Click me!</a>
 *  <buttpn class="o-btn o-btn--reset {{modifier_class}}">Click me!</buttpn>
 *
 * .o-btn--reset--alt - Alternative button with a light grey background
 *
 * Styleguide: objects.buttons.reset
 */
.o-btn--reset {
  width: auto;
  margin: 0;
  color: $VCblack;
  background-color: transparent;
  border-color: $VCblack;

  &:hover,
  &:focus,
  &:visited {
    color: $VCwhite;
    background-color: greyscale(3);
    // border-color: greyscale(10);
  }

  &--alt {
    background-color: greyscale(11);
    border-color: greyscale(8);

    &:hover,
    &:focus,
    &:visited {
      border-color: greyscale(3);
    }
  }
}

/**
 * Ghost button
 *
 * Transparent button for use on dark backgrounds
 *
 * Markup:
 * <a class="o-btn o-btn--ghost {{modifier_class}}" role="button">Click me!</a>
 * <button class="o-btn o-btn--ghost {{modifier_class}}">Click me!</button>
 *
 * .o-btn--ghost--white - White variant for dark backgrounds
 *
 * Styleguide: objects.buttons.ghost
 */
.o-btn--ghost {
  @include font-stack-alt;
  color: $VCblack;
  background-color: rgba($VCwhite, .2);
  border: 2px solid rgba($VCblack, .6);

  &:hover,
  &:focus,
  &:visited {
    color: $VCblack;
    background-color: rgba($VCwhite, .5);
    border-color: rgba($VCblack, 1);
  }

  &--white {
    color: $VCwhite;
    background-color: rgba($VCblack, .2);
    border-color: rgba($VCwhite, .6);

    &:hover,
    &:focus,
    &:visited {
      color: $VCwhite;
      background-color: rgba($VCblack, .5);
      border-color: rgba($VCwhite, 1);
    }
  }
}
