.o-btn,
.o-btn:visited {
  // width: 100%;
  display: inline-block;
  // white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  background-color: colour(red);
  padding: 0.25rem 0.75rem;

  @include font-stack-alt;
  color: white;
  font-size: ms(1);
  font-weight: $VCfont-light;
  text-align: center;
  letter-spacing: 1px;

  border: none;
  //border: 1px solid colour(red, dark);
  border-radius: 4px;
  @include transition;

  &:hover,
  &:focus {
    background-color: colour(red, dark);
    //border-color: colour(red, x-dark);
    color: white;
  }

  @include breakpoint(sm) {
    //min-width: 8rem;
    font-size: ms(0);
    //padding: 0.5rem 1rem;
  }
}

  .o-btn--reset {
    width: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: colour(black);
  }

  .o-btn--ghost {
    @include font-stack-alt;
    background-color: transparent;
    color: white;
    border: 3px solid colour(white, 0.6);

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: colour(white, 1);
      color: white;
    }
  }