/**
 * Buttons
 *
 * Button style for use across the site
 *
 * Styleguide: objects.buttons
 */

/**
 * Default button
 *
 * Default button style
 *
 * Markup:
 * <a class="o-btn {{modifier_class}}">Click me!</a>
 *
 * .o-btn--large - Large button
 * .o-btn--small - Small button
 *
 * Styleguide: objects.buttons.default
 */
.o-btn,
.o-btn:visited {
  display: inline-block;
  width: auto;
  height: auto;
  padding: .25rem .75rem;

  @include font-stack-alt;
  @include font-size(17);
  font-weight: $VCfont-light;
  line-height: $VCline-height;
  letter-spacing: .5px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  vertical-align: middle;
  cursor: pointer;
  background-color: colour(red);
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  user-select: none;
  touch-action: manipulation;

  @include transition;

  &:hover,
  &:focus {
    color: white;
    background-color: colour(red, dark);
  }

  @include breakpoint(sm) {
    @include font-size(18);
  }
}

.o-btn--small {
  @include font-size(13);

  @include breakpoint(sm) {
    @include font-size(14);
  }
}

.o-btn--large {
  padding: .5rem 1.5rem;
  @include font-size(19);

  @include breakpoint(sm) {
    @include font-size(20);
  }
}

/**
 * Reset button
 *
 * Clear out all default styles
 *
 * Markup:
 *  <a class="o-btn o-btn--reset {{modifier_class}}">Click me!</a>
 *
 * .o-btn--reset--alt - Alternative button with a light grey background
 *
 * Styleguide: objects.buttons.reset
 */
.o-btn--reset {
  width: auto;
  margin: 0;
  color: $VCblack;
  background-color: transparent;

  &--alt {
    background-color: greyscale(11);
  }
}

/**
 * Ghost button
 *
 * Transparent button for use on dark backgrounds
 *
 * Markup:
 * <a class="o-btn o-btn--ghost">Click me!</a>
 *
 * Styleguide: objects.buttons.ghost
 */
.o-btn--ghost {
  @include font-stack-alt;
  color: white;
  background-color: transparent;
  border: 3px solid rgba($VCwhite, .6);

  &:hover,
  &:focus {
    color: white;
    background-color: transparent;
    border-color: rgba($VCwhite, 1);
  }
}
