/**
 * Forms
 *
 * Weight: 1
 *
 * Styleguide: objects.forms
 */

/**
 * Form defaults
 *
 * Default styling for form inputs
 *
 * Markup:
 * <form autocomplete="off">
 *   <div class="o-form-group">
 *     <label class="o-label" for="exampleInputEmail1">Email address</label>
 *     <input class="o-input" type="email" id="exampleInputEmail1" placeholder="Enter email">
 *   </div>
 *   <div class="o-form-group">
 *     <label class="o-label" for="exampleInputPassword1">Password</label>
 *     <input class="o-input" type="password" id="exampleInputPassword1" placeholder="Password">
 *   </div>
 *   <div class="o-form-group">
 *     <label class="o-label" for="exampleSelect1">Example select</label>
 *     <select class="o-input" id="exampleSelect1">
 *       <option>1</option>
 *       <option>2</option>
 *       <option>3</option>
 *       <option>4</option>
 *       <option>5</option>
 *     </select>
 *   </div>
 *   <div class="o-form-group">
 *     <label class="o-label" for="exampleDisabled">Disabled field</label>
 *     <input class="o-input" type="text" id="exampleDisabled" placeholder="This is disabled" disabled>
 *   </div>
 *   <div class="o-form-group">
 *     <label class="o-label" for="exampleTextarea">Example textarea</label>
 *     <textarea class="o-input" id="exampleTextarea" rows="3"></textarea>
 *   </div>
 *   <div class="o-form-group">
 *     <label class="o-label" for="exampleInputFile">File input</label>
 *     <input type="file" id="exampleInputFile">
 *   </div>
 *   <div class="o-form-group">
 *     <div class="o-form-group__radio">
 *       <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
 *       <label class="o-label" for="optionsRadios1">Option one is this and that—be sure to include why it's great</label>
 *     </div>
 *     <div class="o-form-group__radio">
 *       <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
 *       <label class="o-label" for="optionsRadios2">Option two can be something else and selecting it will deselect option one</label>
 *     </div>
 *     <div class="o-form-group__radio">
 *       <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
 *       <label class="o-label" for="optionsRadios3">Option three is disabled</label>
 *     </div>
 *   </div>
 *   <div class="o-form-group">
 *     <div class="o-form-group__checkbox">
 *       <input type="checkbox" id="exampleCheckbox">
 *       <label class="o-label" for="exampleCheckbox">Check me out</label>
 *     </div>
 *     <div class="o-form-group__checkbox">
 *       <input type="checkbox" id="exampleCheckbox2" disabled>
 *       <label class="o-label" for="exampleCheckbox2">You can't check me&mdash;I've been disabled!</label>
 *     </div>
 *   </div>
 *   <button type="submit" class="o-btn o-btn--small">Submit</button>
 * </form>
 *
 * Styleguide: objects.forms.default
 */

 /**
  * Form validation
  *
  * Custom states for error/success
  *
  * Markup:
  * <form>
  *   <div class="o-form-group has-error">
  *     <label class="o-label" for="exampleInputEmail1">Email address</label>
  *     <input class="o-input" type="email" id="exampleInputEmail1" placeholder="Enter email">
  *   </div>
  *   <div class="o-form-group has-success">
  *     <label class="o-label" for="exampleInputPassword1">Password</label>
  *     <input class="o-input" type="password" id="exampleInputPassword1" placeholder="Password">
  *   </div>
  *
  * Styleguide: objects.forms.validation
  */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

%o-form-group,
.o-form-group {
  @extend %g-margin-bottom;

  &.has-error {
    .o-label,
    .o-label small,
    .o-input {
      color: $VCred;
    }

    .o-input {
      border-color: $VCred;
    }
  }
}

%o-form-group__radio,
.o-form-group__radio,
%o-form-group__checkbox,
.o-form-group__checkbox {
  position: relative;

  input {
    display: none;

    &:checked {
      ~ label {
        &:before {
          background: $VCred;
          border: 1px solid greyscale(5);
          box-shadow: inset 0 0 0 4px white;
        }
      }
    }

    &:disabled,
    &[disabled],
    &[readonly],
    &.is-disabled {
      cursor: not-allowed;

      + label {
        color: greyscale(7);
        cursor: not-allowed;

        &:before {
          background-color: greyscale(10);
        }
      }
    }
  }

  label,
  .wpcf7-list-item-label {
    @extend %o-label;
    position: relative;
    margin-left: double($VCbase);
    padding-right: $VCbase;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: double(-$VCbase);
      width: tuple($VCbase, 1.25);
      height: tuple($VCbase, 1.25);
      border: 1px solid greyscale(5);
      transform: translate(0, -50%);
    }
  }
}

.o-form-group__radio {
  label {
    &:before {
      border-radius: 100%;
    }
  }
}

.o-form-group__checkbox {
  input {
    &:checked {
      + label,
      + .wpcf7-list-item-label {
        &:before {
          content: "\f00c";
          font-family: "FontAwesome";
          background: none;
          line-height: 1.2;
          font-size: 15px;
          text-align: center;
          color: $VCred;
        }
      }
    }
  }
}

%o-label,
.o-label {
  display: inline-block;
  margin-bottom: quarter($VCbase);
  @include responsive-typography(16, 20, xs, lg);

  @include breakpoint(md) {
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: half($VCbase);
  }

  .o-form-group > & {
    display: block;
    font-weight: 600;
  }
}

%o-input,
.o-input {
  display: block;
  width: 100%;
  padding: half($VCbase) three-quarters($VCbase);
  @include responsive-typography(15, 17, xs, lg);
  line-height: normal;
  background-color: white;
  border: 1px solid greyscale(9);
  border-radius: $VCborder-radius;
  box-sizing: border-box;
  transition: border-color $VCtransition-timing $VCtransition-easing;

  @include breakpoint(md) {
    padding: rem(11px) rem(14px);
  }

  &:focus,
  &:active {
    border-color: greyscale(7);
    outline-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &[disabled],
  &[readonly],
  &.is-disabled {
    color: greyscale(8);
    background-color: greyscale(10);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.o-input.input-validation-error,
.field-validation-error {
  color: $VCred;
  border-color: $VCred;
}

%o-input-radio,
%o-input-checkbox,
input[type="radio"],
input[type="checkbox"] {
  margin-bottom: half($VCbase);
}

.o-input-group {
  position: relative;
  width: 100%;
  display: table;
  border-collapse: separate;

  .o-input,
  .o-input-group__addon {
    display: table-cell;

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .o-input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
  }

  .o-input-group__addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding: rem(5px) rem(10px) rem(4px) rem(11px);
    @include responsive-typography(15, 17, xs, lg);
    border: 1px solid greyscale(9);
    background-color: greyscale(10);
    border-radius: $VCborder-radius;

    @include breakpoint(lg) {
      padding: rem(5px) rem(14px) rem(4px) rem(15px);
    }

    &:not(:first-child) {
      border-left: 0;
    }

    &:not(:last-child) {
      border-right: 0;
    }
  }
}

input[type="search"] {
  appearance: none;
}

.pika-single {
  font-family: $VCfont-stack !important;
}

.pika-prev,
.pika-next,
.pika-table {
  margin-bottom: 0;
}

.pika-button {
  &:hover {
    background: $VCred !important;
  }

  .is-today & {
    color: $VCred;
  }
}

// Contact Form 7 overrides
span.wpcf7-list-item {
  display: inline-block;
  margin: 0;

  > label {
    margin-left: 0;
    
    &:before {
      display: none;
    }
  }
}