// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.o-container {
  @include make-container();
  //@include make-container-max-widths();
  max-width: $grid-max-width;
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.o-container-fluid {
  @include make-container();
}


// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .o-row {
    @include make-row();
  }
}


// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}


// Flex variation
//
// Custom styles for additional flex alignment options.

@if $enable-flex and $enable-grid-classes {

  // Flex column reordering

  .o-col-xs-first { order: -1; }
  .o-col-xs-last { order: 1; }

  @include media-breakpoint-up(sm) {
    .o-col-sm-first { order: -1; }
    .o-col-sm-last { order: 1; }
  }
  @include media-breakpoint-up(md) {
    .o-col-md-first { order: -1; }
    .o-col-md-last { order: 1; }
  }
  @include media-breakpoint-up(lg) {
    .o-col-lg-first { order: -1; }
    .o-col-lg-last { order: 1; }
  }
  @include media-breakpoint-up(xl) {
    .o-col-xl-first { order: -1; }
    .o-col-xl-last { order: 1; }
  }

  // Alignment for every column in row

  .o-row-xs-top    { align-items: flex-start; }
  .o-row-xs-center { align-items: center; }
  .o-row-xs-bottom { align-items: flex-end; }

  @include media-breakpoint-up(sm) {
    .o-row-sm-top    { align-items: flex-start; }
    .o-row-sm-center { align-items: center; }
    .o-row-sm-bottom { align-items: flex-end; }
  }
  @include media-breakpoint-up(md) {
    .o-row-md-top    { align-items: flex-start; }
    .o-row-md-center { align-items: center; }
    .o-row-md-bottom { align-items: flex-end; }
  }
  @include media-breakpoint-up(lg) {
    .o-row-lg-top    { align-items: flex-start; }
    .o-row-lg-center { align-items: center; }
    .o-row-lg-bottom { align-items: flex-end; }
  }
  @include media-breakpoint-up(xl) {
    .o-row-xl-top    { align-items: flex-start; }
    .o-row-xl-center { align-items: center; }
    .o-row-xl-bottom { align-items: flex-end; }
  }

  // Alignment per column

  .o-col-xs-top    { align-self: flex-start; }
  .o-col-xs-center { align-self: center; }
  .o-col-xs-bottom { align-self: flex-end; }

  @include media-breakpoint-up(sm) {
    .o-col-sm-top    { align-self: flex-start; }
    .o-col-sm-center { align-self: center; }
    .o-col-sm-bottom { align-self: flex-end; }
  }
  @include media-breakpoint-up(md) {
    .o-col-md-top    { align-self: flex-start; }
    .o-col-md-center { align-self: center; }
    .o-col-md-bottom { align-self: flex-end; }
  }
  @include media-breakpoint-up(lg) {
    .o-col-lg-top    { align-self: flex-start; }
    .o-col-lg-center { align-self: center; }
    .o-col-lg-bottom { align-self: flex-end; }
  }
  @include media-breakpoint-up(xl) {
    .o-col-xl-top    { align-self: flex-start; }
    .o-col-xl-center { align-self: center; }
    .o-col-xl-bottom { align-self: flex-end; }
  }

}