// Unstyled keeps list items block level, just removes default browser padding and list-style
.o-list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.o-list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}