/**
 * Lists
 *
 * Override default `ul` styling and remove bullets
 *
 * Markup:
 *  <ul class="o-list {{modifier_class}}">
 *    <li><a href="#0">List item 1</a></li>
 *    <li><a href="#0">List item 2</a></li>
 *    <li><a href="#0">List item 3</a></li>
 *  </ul>
 *
 * .o-list--inline - Display the list inline (like a top nav)
 *
 * Styleguide: objects.lists
 */

/**
 * Nested lists
 *
 * Show one list inside another
 *
 * Markup:
 *  <ul class="o-list">
 *    <li><a href="#0">List item 1</a></li>
 *    <li>
 *      <a href="#0">List item 2</a>
 *      <ul class="o-list">
 *        <li><a href="#0">List item 2a</a></li>
 *        <li><a href="#0">List item 2b</a></li>
 *      </ul>
 *    </li>
 *    <li>
 *      <a href="#0">List item 3</a>
 *      <ul class="o-list">
 *        <li><a href="#0">List item 3a</a></li>
 *        <li><a href="#0">List item 3b</a></li>
 *        <li><a href="#0">List item 3c</a></li>
 *      </ul>
 *    </li>
 *  </ul>
 *
 * Styleguide: objects.lists.nested
 */
.o-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 0;

    a {
      text-decoration: none;
    }
  }

  & & {
    margin-left: $VCbase;
  }
}

.o-list--inline {
  li {
    display: inline-block;
  }
}
