/**
 * Lists
 *
 * Override default `ul` styling and remove bullets
 *
 * Markup:
 *  <ul class="o-list">
 *    <li><a href="#0">List item 1</a></li>
 *    <li><a href="#0">List item 2</a></li>
 *    <li><a href="#0">List item 3</a></li>
 *  </ul>
 *
 * Styleguide: objects.lists
 */

/**
 * Nested lists
 *
 * Show one list inside another
 *
 * Markup:
 *  <ul class="o-list">
 *    <li><a href="#0">List item 1</a></li>
 *    <li>
 *      <a href="#0">List item 2</a>
 *      <ul class="o-list">
 *        <li><a href="#0">List item 2a</a></li>
 *        <li><a href="#0">List item 2b</a></li>
 *      </ul>
 *    </li>
 *    <li>
 *      <a href="#0">List item 3</a>
 *      <ul class="o-list">
 *        <li><a href="#0">List item 3a</a></li>
 *        <li><a href="#0">List item 3b</a></li>
 *        <li><a href="#0">List item 3c</a></li>
 *      </ul>
 *    </li>
 *  </ul>
 *
 * Weight: 1
 *
 * Styleguide: objects.lists.nested
 */
.o-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 0;

    a {
      text-decoration: none;
    }
  }

  & & {
    margin-left: $VCbase;
  }
}

/**
 * Inline list
 *
 * Display the list inline (like a top nav)
 *
 * Markup:
 *  <ul class="o-list o-list--inline">
 *    <li><a href="#0">List item 1</a></li>
 *    <li><a href="#0">List item 2</a></li>
 *    <li><a href="#0">List item 3</a></li>
 *  </ul>
 *
 * Weight: 2
 *
 * Styleguide: objects.lists.inline
 */
.o-list--inline {
  li {
    display: inline-block;
  }
}

/**
 * Breadcrumb list
 *
 * Display the list as breadcrumbs
 *
 * Markup:
 *  <ul class="o-list o-list--breadcrumbs">
 *    <li><a href="#0">List item 1</a></li>
 *    <li><a href="#0">List item 2</a></li>
 *    <li class="is-active">List item 3</li>
 *  </ul>
 *
 * Weight: 3
 *
 * Styleguide: objects.lists.breadcrumb
 */
.o-list--breadcrumbs {
  li {
    display: inline-block;

    &:after {
      display: inline;
      margin: 0 .25rem 0 .5rem;
      content: "/";
    }

    &.is-active {
      &:after {
        content: "";
        display: none;
      }
    }
  }
}
