.o-media {
  @include clearfix();
  display: block;
}

.o-media__img {
  float: left;
  margin-right: half($VCbase);

  > img {
    display: block;
  }
}

.o-media__body {
  display: block;
  overflow: hidden;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}
