.c-avatar {
  @include avatar-size;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;

  &__img,
  > img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 100%;
    content: "";

  }

  &#{&}--no-img {
    background-color: greyscale(5);
    border: 2px solid greyscale(5);

    &:after {
      @include font-stack-alt;
      color: white;
      content: attr(data-initials);
      box-shadow: none;
    }

    &.c-avatar--xs:after {
      content: "";
    }
  }

  @each $key, $size in $VCavatar-sizes {
    &--#{$key} {
      @include avatar-size($size);

      @if $key == "xs" {
        // Extra small avatars get no initials
        &:after {
          content: "";
        }
      }
    }
  }
}
