.c-avatar {
  @include avatar-size();

  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;

  text-align: center;

  border-radius: 100%;

  &__img,
  > img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 100%;
    box-shadow: inset 0 0 0 1px colour(gray-light);

    pointer-events: none;
  }

  &#{&}--no-img {
    border: 2px solid;

    &:after {
      content: attr(data-initials);
      @include font-stack-alt;
      box-shadow: none;
    }

    &.c-avatar--xs:after {
      content: "";
    }
  }

  @each $key, $size in $VCavatar-sizes {
    &--#{$key} {
      @include avatar-size($size);

      @if $key == "xs" {
        // Extra small avatars get no initials
        &:after {
          content: "";
        }
      }
    }
  }
}