.c-banner {
  display: table;
  position: relative;
  width: 100%;
  height: 17rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include transition();

  @include breakpoint(sm) {
    height: 20rem;
  }

  @include breakpoint(md) {
    height: 25rem;
  }

  @include breakpoint(lg) {
    height: 30rem;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(red(colour(red, x-dark)),green(colour(red, x-dark)),blue(colour(red, x-dark)),0.8);
  }

  .o-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 10;

    * {
      color: white;
    }
  }
}