.c-banner {
  display: table;
  position: relative;
  width: 100%;
  height: 17rem; //Added so Firefox recognised min-height
  min-height: 17rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include transition();

  @include breakpoint(sm) {
    min-height: 20rem;
  }

  @include breakpoint(md) {
    min-height: 25rem;
  }

  @include breakpoint(lg) {
    min-height: 30rem;
  }

  @include breakpoint(xl) {
    min-height: 35rem;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: greyscale(2, 0.85);
  }

  & > .o-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    * {
      color: white;
    }
  }
}

.c-banner--red {
  &::after {
    background-color: rgba(red(colour(red)),green(colour(red)),blue(colour(red)),0.85);
  }
}

.c-banner--clear {
  &::after {
    display: none;
  }
}