.c-footer {
  padding: 1rem 0;
  color: white;
  background-color: greyscale(2);

  a {
    &,
    &:active {
      color: $VCwhite;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      color: white;
      text-decoration: underline;
    }
  }

  .c-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 0;
  }
}
