.c-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: greyscale(2);

  body.home & {
    background-color: transparent;
    @include transition(background, 500ms);

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: triple(-$VCbase);
      left: 0;
      z-index: -1;
      display: block;
      background: linear-gradient(to bottom, rgba($VCblack, .6) 0%, rgba($VCblack, 0) 100%);
      content: "";
      opacity: 1;
      @include transition(all, 500ms);
    }

    &.is-visible {
      background-color: greyscale(2);

      &::before {
        bottom: 0;
        opacity: 0;
      }
    }
  }

  .is-menu-active {
    height: 100%;
  }

  @include breakpoint(md) {
    // padding: .5rem;
  }


  .o-container {
    position: relative;
    z-index: 10;
    padding: .75rem;

    @include breakpoint(lg) {
      padding: divisor($VCbase, 8) $VCbase;
    }
  }
}

.c-logo {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: double($VCbase);
  height: double($VCbase);
  // padding: rem(3px) 0;
  line-height: 0;

  @include breakpoint(sm) {
    width: rem(42px);
    height: rem(42px);
  }

  @include breakpoint(md) {
    // padding: rem(7px) 0;
  }

  @include breakpoint(lg) {
    // padding: rem(13px) 0;
    width: double($VCbase);
    height: double($VCbase);
    margin: rem(11px) 0;
  }

  // object,
  // svg {
  //   position: relative;
  //   z-index: -1;
  //   width: 32px;
  //   height: 32px;
  //   overflow: hidden;
  //   pointer-events: none;

  //   @include breakpoint(sm) {
  //     width: 201px;
  //     height: 32px;
  //   }
  // }
}
