.c-header {
  padding: 1em 0;
}

  .logo {
    @include font-stack-alt();
    display: inline-block;
    font-size: ms(1);
    font-weight: $VCfont-normal;
    color: colour(black);
    text-decoration: none;
    letter-spacing: -1px;

    & object,
    & svg {
      width: 40px;
      height: 40px;
    }

    @include breakpoint(md) {
      // font-size: ms(2);
    }
  }