.c-header {
  // padding: 1em 0;
  // background-color: colour(grey-xlight);
  background: linear-gradient( to bottom, rgba(25, 25, 25, 0.85), rgba(25, 25, 25, 0));
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  padding: 0.75rem;

  @include breakpoint(sm) {
    padding: 1rem;
  }

  .o-container {
    padding-right: 0;
    padding-left: 0;
  }
}

  .logo {
    position: relative;
    display: inline-block;
    z-index: 10;
    @include font-stack-alt();
    font-size: ms(2);
    font-weight: $VCfont-normal;
    color: white;
    text-decoration: none;
    letter-spacing: -1px;
    line-height: 1;
    // padding: 0.75rem 0;

    @include breakpoint(md) {
      padding: 0.3rem;
    }

    & object,
    & svg {
      width: 32px;
      height: 32px;

      // @include breakpoint(md) {
      //   width: 48px;
      //   height: 48px;
      // }
    }

    @include breakpoint(md) {
      font-size: ms(1);
    }
  }