.c-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include breakpoint(lg) {
    padding-left: half($VCbase);
  }

  .menu-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 1rem;

    @include breakpoint(lg) {
      @include pull-left;
      display: inline-block;
      margin-bottom: 0;
    }

    &:hover,
    &:focus,
    &:active {
      cursor: default;

      @include breakpoint(lg) {
        background-color: $VCblack;
      }

      .sub-menu {
        display: block;
      }
    }

    a,
    button {
      position: relative;
      display: block;
      margin: 0;
      padding: .5rem 0 .125rem;
      @include font-stack-alt;
      @include font-size(15);
      font-weight: 300;
      letter-spacing: 1px;
      color: greyscale(5);
      text-decoration: none;
      text-transform: uppercase;
      border: 0;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }

      &[href] {
        color: greyscale(9);
      }

      @include breakpoint(lg) {
        padding: 1rem .5rem;
        letter-spacing: .5px;
        color: greyscale(10);
        text-transform: none;
        @include font-size(14);

        // body.home & {
        //   @include text-shadow(0, 0, 3px);
        //   @include transition(text-shadow);

        //   .is-visible & {
        //     @include text-shadow(0, 0, 0);
        //   }
        // }

        &:hover {
          color: white;
        }

        &[href] {
          color: greyscale(10);
        }
      }
    }
  }

  .sub-menu {
    padding: .25rem 0;
    margin: 0;
    list-style-type: none;

    @include breakpoint(lg) {
      position: absolute;
      display: none;
      width: 15rem;
      background-color: $VCblack;
    }

    & & {
      position: relative;
      display: block;
    }

    .menu-item {
      display: block;
      float: none !important;
      margin-bottom: 0;

      a,
      button {
        padding: 0;
        @include font-stack;
        @include font-size(17);
        font-weight: 400;
        letter-spacing: 0;
        color: $VCwhite;
        text-transform: none;

        &:hover {
          color: white;
        }

        @include breakpoint(lg) {
          padding: rem(2px) rem(8px) rem(1px);
          color: greyscale(9);
          cursor: pointer;
        }

        &[target="_blank"]::after {
          position: relative;
          top: auto;
          right: auto;
          display: inline-block;
          padding-left: .5rem;
          font-family: "FontAwesome";
          @include font-size(13);
          line-height: 1.5;
          content: "\f08e";
        }

        &::after {
          display: none;
          content: "";
        }

        @include breakpoint(lg) {
          @include font-size(15);
        }
      }

      &.sub-title > a {
        margin-bottom: -5px;
        @include font-size(13);
        color: greyscale(8);

        @include breakpoint(lg) {
          color: greyscale(5);
        }
      }
    }
  }

  .sub-menu--right {
    right: 0;
  }
}


.c-navigation {
  position: fixed;
  top: 0;
  right: -15rem;
  bottom: 0;
  width: 15rem;
  height: 100%;
  padding: .5rem 1rem 1rem;
  overflow: auto;
  background-color: greyscale(2);
  -webkit-overflow-scrolling: touch;

  @include breakpoint(xs) {
    right: -18rem;
    width: 18rem;
  }

  @include breakpoint(lg) {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    width: auto;
    height: auto;
    padding: 0;
    overflow: visible;
    background-color: transparent;
  }

  .is-menu-active & {
    // display: block;
    transform: translate3d(0, 0, 0);
  }
}

button.c-nav-toggle {
  // padding: 9px 9px 10px;
  // margin: -5px 0 -7px;
  // color: white;
  // text-transform: uppercase;
  // background-color: $VCblack;
  // border: 0;
  padding: rem(13px) rem(11px);
  margin: half(-$VCbase);
  @include font-size(22);
  line-height: 0;
  background: transparent;
  border: 0;

  &:hover,
  &:focus {
    background-color: $VCblack;
  }

  @include breakpoint(sm) {
    padding: rem(15px);
    @include font-size(28);
  }

  @include breakpoint(md) {
    padding: 6px 9px;
    margin: 1px 0 -7px;
  }
}

.c-navigation--toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $VCblack;
  opacity: 0;
  @include transition();

  .is-menu-active & {
    display: block;
    opacity: .85;
  }
}
