.c-notification {
  max-height: 0;
  overflow: hidden;
  color: white;
  background-color: colour(red, dark);
  @include transition();

  .o-container {
    position: relative;
    padding: 1rem;
  }

  p {
    margin: 0;
    @include font-stack-alt();

    a {
      color: white;
      border-bottom: 1px solid;

      &:hover,
      &:focus {
        color: colour(white);
      }
    }
  }

  &.is-notification-active {
    max-height: 1000px;
    overflow: hidden;
  }
}

.c-notification__dismiss {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  color: white;
  text-decoration: none !important;
}

.c-browse-happy {
  padding-top: $VCbase;
  padding-bottom: $VCbase;
  background-color: colour(yellow);

  p {
    margin: 0;
  }
}
