.c-notification {
  overflow: hidden;
  max-height: 0;
  //background-color: greyscale(5);
  background-color: colour(red, dark);
  color: white;
  @include transition();

  .o-container {
    position: relative;
    padding: 1rem 3rem 1rem 1rem;
  }

  p {
    margin: 0;
    @include font-stack-alt();

    a {
      color: white;
      //text-decoration: underline;
      border-bottom: 1px solid;
    }
  }

  &.is-notification-active {
    max-height: 1000px;
    overflow: hidden;
    @include transition();
  }
}

  .c-notification__dismiss {
    position: absolute;
    top: 0.55rem;
    right: 1rem;
    font-size: 2.5rem;
    line-height: 1;
    text-decoration: none !important;
    color: white;
    font-weight: 100;
  }