.c-featured {
  picture,
  source,
  img {
    width: 100%;
  }
}

.c-post-content {
  width: 100%;
  max-width: 60rem;

  &--fixed {
    width: 100%;
    max-width: 46rem;
  }

  > *,
  > div.wpcf7 {
    max-width: 46rem;
    padding-right: $VCbase;
    padding-left: $VCbase;
    margin-right: auto;
    margin-left: auto;
  }

  > ul,
  > ol {
    padding-left: tuple($VCbase, 2.5);
  }

  // WordPress built in images go full-width
  img,
  .alignleft,
  .alignright,
  .aligncenter,
  [class^="wp-image-"] {
    width: 100%;
    max-width: 60rem;
    padding-right: 0;
    padding-left: 0;
  }

  img.ajax-loader {
    width: auto;
  }

  .o-ratio,
  iframe {
    max-width: 100%;
  }

  .no-flexbox & {
    float: none;
  }
}

.c-article {
  .no-featured-image & {
    padding-top: $VCbase;
  }
}

// article.podcast {
//   .c-featured {
//     position: relative;

//     &::before {
//       content: "\f144";
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       transform: translateX(-50%) translateY(-50%);
//       display: inline-block;
//       font-family: "FontAwesome";
//       font-size: 10rem;
//       z-index: 10;
//       line-height: 1;
//       color: rgba(0,0,0,.35);
//       transition: color 250ms ease-in-out;
//     }

//     &:hover::before {
//       color: rgba(0,0,0,.5);
//     }
//   }
// }

.powerpress_player {
  margin-bottom: $VCbase;
}
