.c-section {
  padding: $VCbase $VCbase 0;
  //margin-top: -$VCbase;

  @include breakpoint(md) {
    padding: ($VCbase * 1.5) ($VCbase * 1.5) half($VCbase);
  }

  @include breakpoint(lg) {
    padding: double($VCbase) double($VCbase) $VCbase;
  }
}

.c-section--small {
  padding: half($VCbase) half($VCbase) 0;
  //margin-top: -$VCbase;

  @include breakpoint(md) {
    padding: three-quarters($VCbase) three-quarters($VCbase) third($VCbase);
  }

  @include breakpoint(lg) {
    padding: $VCbase $VCbase half($VCbase);
  }
}

.c-section--gray,
.c-section--grey {
  background-color: greyscale(11);
}

.c-featured {
  picture,
  source,
  img {
    width: 100%;
  }
}

.c-post-content {
  &--fixed {
    width: 100%;
    max-width: 46rem;
  }

  > *,
  > div.wpcf7 {
    max-width: 46rem;
    padding-right: $VCbase;
    padding-left: $VCbase;
  }

  > img {
    width: 100%;

    // WordPress built in images go full-width
    &.alignleft,
    &.alignright,
    &.aligncenter,
    &[class^="wp-image-"] {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .no-flexbox & {
    float: none;
  }

  &--wide {
    max-width: 60rem;
  }
}

.c-article {
  .no-featured-image & {
    padding-top: $VCbase;
  }
}

.powerpress_player {
  margin-bottom: $VCbase;
}
