.c-search {
  position: relative;
  width: 100%;

  @include breakpoint(lg) {
    width: 10rem;
  }

  @include breakpoint(xl) {
    width: 12rem;
  }

  .o-flag__fix {
    padding: 0;
  }
}

  .c-search__input {
    padding: 0.5rem 2rem 0.5rem 0.25rem !important;
    color: white;
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid colour(grey-light);
    transition: all 250ms ease-in-out;

    &:hover,
    &:focus {
      outline: none;
      border-bottom-color: colour(white);

      & + .c-search__button {
        color: colour(white);
      }
    }
  }

  .c-search__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2px;
    width: auto;
    background-color: transparent;
    color: colour(grey-light);
    border-width: 0;
    border-radius: 0;
    transition: all 250ms ease-in-out;
  }