.c-search {
  position: relative;
  width: 100%;

  @include breakpoint(lg) {
    width: 10rem;
  }

  @include breakpoint(xl) {
    width: 12rem;
  }

  .o-flag__fix {
    padding: 0;
  }

  .c-header & {
    margin: 0.5rem 0;
  }
}

  .c-search__input {
    padding: 0.5rem 2rem 0.5rem 0.25rem !important;
    color: white;
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid greyscale(5);
    @include transition();

    &:hover,
    &:focus {
      outline: none;
      border-bottom-color: colour(white);

      & + .c-search__button {
        color: colour(white);
      }
    }
  }

  .c-search__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 0;
    width: 36px;
    height: 35px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: greyscale(5);
    border-width: 0;
    border-radius: 0;
    @include transition();

    &:hover {
      color: colour(white);
      background-color: transparent;
    }

    @include breakpoint(lg) {
      width: 40px;
      height: 40px;
    }
  }