.c-section {
  position: relative;
  width: 100%;
  padding: $VCbase 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(md) {
    padding: tuple($VCbase, 1.5) 0;
  }

  @include breakpoint(lg) {
    padding: double($VCbase) 0;
  }

  @include breakpoint(xl) {
    padding: triple($VCbase) 0;
  }

  > .o-container {
    position: relative;
  }
}

.c-section__arrow {
  position: absolute;
  bottom: tuple($VCbase, .75);
  left: 50%;
  z-index: 20;
  margin-left: half(-102px);
  color: $VCwhite;
  text-decoration: none;
  opacity: .75;
  @include transition;

  &:visited {
    color: $VCwhite;
  }

  &:hover,
  &:focus {
    bottom: half($VCbase);
    color: $VCwhite;
    opacity: 1;
  }
}

.c-section--hero {
  display: table;
  min-height: 65vh;
  padding: double($VCbase) 0;

  @include breakpoint(lg) {
    // height: calc(100vh - 300px);
  }

  > .o-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;

    > .o-row {
      max-width: $VCmax-width;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .c-section__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  @include breakpoint(md) {
    padding: quadruple($VCbase) 0;
  }

  @include breakpoint(lg) {
    padding: tuple($VCbase, 5) 0;
  }

  @include breakpoint(xl) {
    padding: tuple($VCbase, 6) 0;
  }
}

.c-section--top {
  // max-height: 60vh;

  > .o-container {
    padding-top: 1rem;
  }

  @include breakpoint(sm) {
    max-height: 60vh;
  }

  // @include breakpoint(md) {
  //   max-height: 50vh;
  // }

  // @include breakpoint(lg) {
  //   max-height: 40vh;
  // }
}

.c-section--overlay {
  .o-container {
    z-index: 10;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: greyscale(2, .85);
    content: "";
  }
}

.c-section--overlay--red {
  &::after {
    background-color: rgba(colour("red"),.85);
  }
}
