.c-slides {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  //@extend .u-cf;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;

    a {
      display: block;
    }

    &:first-child {
      // @extend .left;
      position: relative;
      display: block;
    }
  }

  img {
    //@extend .left;
    display: block;
    height: auto;
    width: 100%;
  }
}

.slide-control {
  position: absolute;
  top: 0;
  right: $VCbase;
  bottom: $VCbase;
  left: $VCbase;

  .rslides_nav {
    position: absolute;
    //top: 50%;
    bottom: 0.25rem;
    //margin-top: $VCbase;
    //@include opacity(0.4);
    //@include single-transition(opacity, 0.1s, ease-in-out);
    z-index: 5;

    &.prev {
      left: $VCbase * 1.5;

      @include breakpoint(md) {
        left: $VCbase * 1;
      }

      @include breakpoint(lg) {
        left: $VCbase * 0.75;
      }
    }

    &.next {
      right: $VCbase * 1.5;

      @include breakpoint(md) {
        right: $VCbase * 1;
      }

      @include breakpoint(lg) {
        right: $VCbase * 0.75;
      }
    }

    &:hover {
      //@include opacity(0.6);
    }

    &:active,
    &:focus {
      //@include opacity(0.9);
    }
  }

  .rslides_tabs {
    position: absolute;
    bottom: $VCbase;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 8;
    margin-bottom: 0;
    text-align: center;
    width: 75%;

    li {
      width: $VCbase;
      height: $VCbase;
      text-align: center;
      margin-right: 6px;
      display: inline-block;
      @include box-shadow;

      &.rslides_here a {
        background-color: $VCred;
      }
    }

    a {
      //@extend .hide__text;
      display: inline-block;
      width: $VCbase;
      height: $VCbase;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      border-radius: 50%;
      background-color: white;
    }
  }
}