.c-slide-container {
  position: relative;
}

.c-slides {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  //@extend .u-cf;

  li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    -webkit-backface-visibility: hidden;

    a {
      display: block;
    }

    &:first-child {
      // @extend .left;
      position: relative;
      display: block;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.slide-control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .rslides_nav {
    position: absolute;
    bottom: .75rem;
    z-index: 10;
    width: 20px;
    height: 32px;

    object,
    svg {
      pointer-events: none;
    }

    @include breakpoint(md) {
      bottom: 1rem;
    }

    @include breakpoint(lg) {
      bottom: 1.25rem;
      width: 30px;
      height: 48px;
    }

    &.prev {
      left: $VCbase * .75;
    }

    &.next {
      right: $VCbase * .75;
    }

    &:hover {
      //@include opacity(0.6);
    }

    &:active,
    &:focus {
      //@include opacity(0.9);
    }
  }

  .rslides_tabs {
    position: absolute;
    right: 0;
    bottom: $VCbase * .5;
    left: 0;
    z-index: 8;
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;

    li {
      display: inline-block;
      width: $VCbase * 1.5;
      height: $VCbase * 1.5;
      margin-right: 6px;
      text-align: center;

      @include breakpoint(md) {
        width: $VCbase;
        height: $VCbase;
      }

      &.rslides_here a {
        background-color: $VCred;
      }
    }

    a {
      //@extend .hide__text;
      display: inline-block;
      width: $VCbase * 1.5;
      height: $VCbase * 1.5;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      background-color: white;
      border-radius: 50%;
      @include box-shadow($colour: rgba(0,0,0,.65));

      @include breakpoint(md) {
        width: $VCbase;
        height: $VCbase;
      }
    }
  }
}
