.c-slides {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  //@extend .u-cf;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;

    a {
      display: block;
    }

    &:first-child {
      // @extend .left;
      position: relative;
      display: block;
    }
  }

  img {
    //@extend .left;
    display: block;
    height: auto;
    width: 100%;
  }
}

.slide-control {
  position: absolute;
  top: 0;
  right: $VCbase;
  bottom: $VCbase;
  left: $VCbase;

  .rslides_nav {
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 32px;
    bottom: 0.75rem;
    z-index: 10;

    & object,
    & svg {
      pointer-events: none;
    }

    @include breakpoint(lg) {
      width: 30px;
      height: 48px;
    }

    &.prev {
      left: $VCbase * 0.75;
    }

    &.next {
      right: $VCbase * 0.75;
    }

    &:hover {
      //@include opacity(0.6);
    }

    &:active,
    &:focus {
      //@include opacity(0.9);
    }
  }

  .rslides_tabs {
    position: absolute;
    bottom: $VCbase * 0.5;
    left: 0;
    right: 0;
    z-index: 8;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    width: 100%;

    li {
      width: $VCbase * 1.5;
      height: $VCbase * 1.5;
      text-align: center;
      margin-right: 6px;
      display: inline-block;
      @include box-shadow;

      @include breakpoint(md) {
        width: $VCbase;
        height: $VCbase;
      }

      &.rslides_here a {
        background-color: $VCred;
      }
    }

    a {
      //@extend .hide__text;
      display: inline-block;
      width: $VCbase * 1.5;
      height: $VCbase * 1.5;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      border-radius: 50%;
      background-color: white;

      @include breakpoint(md) {
        width: $VCbase;
        height: $VCbase;
      }
    }
  }
}