figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
input, select, textarea,
blockquote, p, address,
hr,
button,
table,
fieldset, figure,
pre {
  margin-top: 0;
  margin-bottom: $VCbase;
}

dd {
  margin-top: 0;
  margin-bottom: half($VCbase);
}


img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}