figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
input, select, textarea,
blockquote, p, address,
hr,
button,
table,
fieldset,
pre,
.aligncenter {
  margin-top: 0;
  margin-bottom: $VCbase;

  @include breakpoint(md) {
    margin-bottom: tuple($VCbase, 1.25);
  }

  @include breakpoint(xl) {
    margin-bottom: tuple($VCbase, 1.5);
  }
}

dd {
  margin-top: 0;
  margin-bottom: half($VCbase);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
