html {
  font-size: 1em;

  @include breakpoint(sm) {
    font-size: (18/16) * 1em;
  }

  @include breakpoint(md) {
    font-size: (20/16) * 1em;
  }

  @include breakpoint(lg) {
    font-size: (22/16) * 1rem;
  }
}

body {
  background-color: colour(white);
  color: colour(black);
  @include font-stack;
  font-size: 1rem;
  line-height: $VCline-height;
}