html {
  @include full-height;
  font-size: 16px;

  @include breakpoint(sm) {
    font-size: 17px;
  }

  @include breakpoint(md) {
    font-size: 18px;
  }

  @include breakpoint(lg) {
    font-size: 19px;
  }
}

body {
  position: relative;
  @include full-height;
  @include font-stack;
  line-height: $VCline-height;
  color: colour(black);
  @include transition(transform);

  &.is-menu-active {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(-15rem, 0, 0);
  }
}

// .o-page-wrap {
//   position: relative;
//   @include full-height;

// }