label {
  display: block;
  font-size: ms(-1);
  margin-bottom: quarter($VCbase);
}

input,
button,
textarea,
select {
  display: block;
  width: 100%;
  font-size: ms(-1);
  line-height: normal;
  border: 1px solid colour(grey-light);
  border-radius: 2px;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: half($VCbase) three-quarters($VCbase);
}

input:disabled,
input[disabled],
input.is-disabled {
  &:hover {
    cursor: not-allowed;
  }
}