a {
  @include transition(color);
  // text-decoration: none;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;

  &,
  &:active {
    color: colour("red");
  }

  &:focus,
  &:hover {
    color: colour("red", dark);
  }

  &:visited {
    color: greyscale(5);

    &:focus,
    &:hover {
      color: colour("red", x-dark);
    }
  }

  // .c-article &,
  // .c-footer & {
  //   text-decoration: underline;
  // }
}
