a {
  text-decoration: none;
  @include transition();
  &,
  &:active {
    color: colour(red);
  }

  &:focus,
  &:hover {
    color: colour(red, dark);
  }

  &:visited {
    color: colour(red, x-dark);
  }

  .c-article &,
  .c-footer & {
    text-decoration: underline;
  }
}