a {
  text-decoration: none;
  @include transition('color');
  &,
  &:active {
    color: colour(red);
  }

  &:focus,
  &:hover {
    color: colour(red, dark);
  }

  &:visited {
    color: colour(red, dark);

    &:focus,
    &:hover {
      color: colour(red, x-dark);
    }
  }

  .c-article &,
  .c-footer & {
    text-decoration: underline;
  }
}
