/**
 * Typography
 *
 * Default styles for typography across the site.
 *
 * Weight: 0
 *
 * Styleguide: base.typography
 */

/**
 * Defaults
 *
 * By default, the base of the site is set to `1rem` (equivalent to `16px`) so
 * we bump this up slightly to `17px` on mobile and `19px` on desktop to give
 * everything a bit more legibility. We also give some defaults to `ul`/`ol`
 * elements to make them match.
 *
 * Markup:
 *   <h1>About</h1>
 *   <p class="lead">With a call from <a href="#0">Psalm 78</a>, <a href="#0">
 *   Senior Pastors Ed &amp; Michele Carter</a> launched Valley Church in April
 *   2007.</p>
 *   <p>Our desire is to empower you to fulfil all that God has for you and
 *   called you to be. We believe that Church should be a home for everyone, no
 *   matter who they are or where they’ve come from. We long to empower the new
 *   generation to continually direct the future of the Church.</p>
 *   <p>We have a number of teams that you can get involved with:</p>
 *   <ul>
 *     <li>VIP (hosting and hospitality)</li>
 *     <li><a href="#0">Community Action Team</a></li>
 *     <li><a href="#0">Valley Kids (2-11s)</a></li>
 *     <li><a href="#0">Creative (worship)</a></li>
 *     <li>Tech and production (sound, lighting and visuals)</li>
 *     <li>Communications (design, print, video and web)</li>
 *   </ul>
 *
 * Weight: 0
 *
 * Styleguide: base.typography.defaults
 */
p,
ul, ol {
  @include font-size(17);

  @include breakpoint(md) {
    @include font-size(19);
  }

  + .o-ratio,
  + img {
    margin-bottom: $VCbase;
  }
}

ul,
ol {
  padding: 0;
  margin: 0 0 $VCbase $VCbase * 1.5;

  li {
    padding-left: $VCbase * .25;
  }
}

/**
 * Lead paragraphs
 *
 * Using the class `.lead` you can bump up a paragraph's size to `19px` on
 * mobile and `22px` on desktop.
 *
 * Markup:
 *   <p class="lead">This is a lead paragraph that starts a page off with an
 *   eye-catching intro sentence.</p>
 *   <p>This is a smaller, normal paragraph that would continue the page.</p>
 *
 * Weight: 1
 *
 * Styleguide: base.typography.lead
 */
.lead,
.lede {
  @include font-size(19);

  @include breakpoint(md) {
    @include font-size(22);
  }
}

/**
 * Headings
 *
 * All HTML headings, `<h1>` through `<h6>`, are available. `.h1` through `.h6`
 * classes are also available, for when you want to match the font styling of a
 * heading but still want your text to be displayed inline.
 *
 * Markup:
 *   <h1>Heading 1</h1>
 *   <h2>Heading 2</h2>
 *   <h3>Heading 3</h3>
 *   <h4>Heading 4</h4>
 *   <h5>Heading 5</h5>
 *   <h6>Heading 6</h6>
 *
 * Weight: 2
 *
 * Styleguide: base.typography.headings
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.exa, .peta, .tera, .giga, .mega, .kilo {
  @include font-stack-alt;
  font-weight: $VCfont-medium;
  line-height: 1.25;
  // letter-spacing: .5px;

  a {
    text-decoration: none;
  }

  @include breakpoint(md) {
    p + & {
      margin-top: $VCbase * 1.5;
    }
  }
}

h5, .h5,
h6, .h6 {
  font-weight: $VCfont-normal;
  letter-spacing: .5px;
}

/**
 * Display headings
 *
 * Extra large heading for special use cases
 *
 * Markup:
 *   <h1 class="exa">Exa size heading</h1>
 *   <h2 class="peta">Peta size heading</h2>
 *   <h3 class="tera">Tera size heading</h3>
 *   <h4 class="giga">Giga size heading</h4>
 *   <h5 class="mega">Mega size heading</h5>
 *   <h6 class="kilo">Kilo size heading</h6>
 *
 * Weight: 3
 *
 * Styleguide: base.typography.display
 */
.exa {
  @include font-size(72);

  @include breakpoint(md) {
    @include font-size(80);
  }
}

.peta {
  @include font-size(64);

  @include breakpoint(md) {
    @include font-size(72);
  }
}

.tera {
  @include font-size(56);

  @include breakpoint(md) {
    @include font-size(64);
  }
}

.giga {
  @include font-size(48);

  @include breakpoint(md) {
    @include font-size(56);
  }
}

.mega {
  @include font-size(42);

  @include breakpoint(md) {
    @include font-size(48);
  }
}

.kilo {
  @include font-size(36);

  @include breakpoint(md) {
    @include font-size(42);
  }
}

h1,
.h1 {
  @include font-size(32);

  @include breakpoint(md) {
    @include font-size(36);
  }
}

h2,
.h2 {
  @include font-size(26);

  @include breakpoint(md) {
    @include font-size(32);
  }
}

h3,
.h3 {
  @include font-size(22);

  @include breakpoint(md) {
    @include font-size(26);
  }
}

h4,
.h4 {
  @include font-size(18);

  @include breakpoint(md) {
    @include font-size(22);
  }
}

h5,
.h5 {
  @include font-size(16);

  @include breakpoint(md) {
    @include font-size(18);
  }
}

h6,
.h6 {
  @include font-size(14);

  @include breakpoint(md) {
    @include font-size(16);
  }
}


hr {
  margin-bottom: $VCbase;
  border: 0;
  border-top: 1px solid greyscale(8);
}

small,
.small {
  @include font-size(15);
}

/**
 * Blockquotes
 *
 * For quoting blocks of content from another source within your document. Wrap
 * `<blockquote>` around any HTML as the quote.
 *
 * Markup:
 *   <blockquote>
 *     <p>
 *       Each of you should give what you have decided in your heart to give,
 *       not reluctantly or under compulsion, for God loves a cheerful giver.
 *     </p>
 *   </blockquote>
 *
 * Weight: 4
 *
 * Styleguide: base.typography.blockquote
 */


/**
 * With source
 *
 * Add a `<footer>` for identifying the source.
 *
 * Markup:
 *   <blockquote>
 *     <p>
 *       Each of you should give what you have decided in your heart to give,
 *       not reluctantly or under compulsion, for God loves a cheerful giver.
 *     </p>
 *     <footer>
 *       &mdash;<a href="#0"><strong>2 Corinthians 9:7</strong></a>
 *     </footer>
 *   </blockquote>
 *
 * Styleguide: base.typography.blockquote.source
 */
blockquote {
  position: relative;
  padding: $VCbase 0;
  margin-right: 0;
  margin-left: 0;

  @include breakpoint(md) {
    padding: $VCbase * 2 0;
    margin-top: $VCbase * 2;
    margin-bottom: $VCbase * 2;
  }

  p {
    margin-bottom: 0;
    @include font-size(22);
    font-style: italic;
    color: greyscale(4);

    @include breakpoint(sm) {
      @include font-size(24);
    }

    @include breakpoint(md) {
      @include font-size(28);
    }
  }

  footer {
    display: block;
    @include font-size(18);
    font-style: italic;

    @include breakpoint(md) {
      @include font-size(20);
    }
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    display: block;
    width: $VCbase * 2;
    height: 1px;
    background-color: colour(red);
    content: "";
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}


::selection {
  color: white;
  background-color: colour(red, .75);
}


.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

code,
kbd,
pre,
samp {
  @include font-size(15);
  padding: 2px 4px;
  word-wrap: break-word;
  background: grayscale(11);
  border-radius: 2px;
}

code[class*="language-"],
pre[class*="language-"] {
  // line-height: 1.25 !important;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
  background-color: greyscale(11) !important;
}
