h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  //@extend %margin-bottom;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-stack-alt;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

p {
  //@extend %margin-bottom;
}

.tera {
  font-size: font-size(9);
}

.giga {
  font-size: font-size(8);
}

.mega {
  font-size: font-size(7);
}

.kilo {
  font-size: font-size(6);
}

h1, .h1 {
  font-size: font-size(5);
}

h2, .h2 {
  font-size: font-size(4);
}

h3, .h3 {
  font-size: font-size(3);
}

h4, .h4,
p.lead, p.lede {
  font-size: font-size(2);
}

h5, .h5 {
  font-size: font-size(1);
}

h6, .h6 {
  font-size: font-size(0);
}

small,
.small,
.milli {
  font-size: (font-size(0) / ($base-ratio));
}

.micro {
  font-size: (font-size(0) / power($base-ratio, 2));
}

.nano {
  font-size: (font-size(0) / power($base-ratio, 3));
}

blockquote {
  font-style: italic;
}