#wpadminbar {
  top: -46px !important;

  @media screen and (min-width: 783px) {
    top: -32px !important;
  }
}

.c-navigation {
  .is-menu-active & {
    html[data-useragent*='MSIE 9.0'] &,
    html[data-useragent*='MSIE 10.0'] & {
      right: 0;
    }
  }
}

code[class*=language-],
pre[class*=language-] {
  margin-top: 0;
  margin-bottom: $VCbase;
}
