.u-text-muted {
  //color: $grey-dark;
}

.u-text-light {
  font-weight: 300;
}

.u-text-normal {
  font-weight: 400;
}

.u-text-heavy {
  font-weight: 800;
}

.u-text-upper,
.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center,
.u-text-centre {
  text-align: center;
}